# Libraries
*.lvlibp
*.llb
*.aux

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
formulaire.synctex(busy)
formulaire.synctex.gz
formulaire.pytxcode
formulaire.log
formulaire.fls
formulaire.fdb_latexmk
